<%-include('../partials/header.ejs')%>
<h1>Photos from <%=user.username%></h1>

<div class='photo-container'>
<% photos.forEach( photo => {%>

<a href="/photos/<%=photo._id%>">
<div class="card m-4" style="width: 18rem;">
  <img src="<%=photo.url%>" class="card-img-top" alt="...">
  <div class="card-body">
  	  <h5 class="card-title">Title: <%=photo.title%></h5>
    <p class="card-text"> Date: <%=photo.date.toLocaleString()%></p>
    User: <%=photo.user%>
  </div>
</div>
</a>

<%})%>




</div>
<ul id='user-info'>
	<li><%=user.name%></li>
	<li ><%=user.hometown%></li>
	<li><%=user.email%></li>
	<li><%if (user.username === username) {%>
<form method="POST" action="/users/<%=user._id%>?_method=DELETE"><button class='btn btn-danger'>Delete Account</button></form>
<%}%></li>
</ul>


<%-include('../partials/footer.ejs')%>